*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    font-size: 20px;
}
a:hover{
  cursor: pointer;
  opacity: 1;
}
i{
    font-size: 30px;
}
nav{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999px;
    box-shadow: 0px 3px 10px #070000;
    background-color: #fff;

}

#s1 {
    min-height: 100vh;
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 40px;
    padding: 50px;
}


.lfet{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    border: 2px solid rgb(7, 0, 0);
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.466);

}
.left img{
 width: 400px;
 height: auto;
 object-fit: cover;
 transition: all 200ms ease-in-out;
}

.left:hover{
    transform: scale(1.2);
}

.right{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#s2{
    min-height: 100vh;
    background-image: url('./imagens/bg.npg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
    text-align: center;
}


.card{
    width: 300px;
    border: 2px solid #090909;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.wrapTexts{
    max-width: 300px;
    text-align: center;
}

.card img{
width: 100%;
height: auto;
display: block;
}

#s3{
   height: 100vh;
   padding-top: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
   flex-direction: column;
}

.video{
    width: 560px;
    height: 315px;
    box-shadow: 0px 3px 10px black;
    border-radius: 20px;
}

#s4 {
    min-height: 100vh;
    height: auto;
    padding-top: 80px;
    display: flex;    
    align-items: center;  
    justify-content: center;  
    background-color: #fff;
    flex-wrap: wrap;
    gap: 100px;
}


.card img {
    width: 400px;
    height: auto;
    display: flex;
}


.wrapTexts {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #fcfafa;
    box-shadow: 0px 3px 10px #0909099c;
    border-radius: 40px; 
}




footer{
    height: 20px;
    box-shadow: 0px 3px 10px #090909;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

i{
    transition: all 200ms ease-in-out;
}

i:hover{
     transform: translateY(-5px) scale(1.1);
}

#s5{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.formulario{
   width: 300px;
   height: auto;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   border: 2px solid black;
   border-radius: 10px;
}

.formulario label{
    width: 100%;
    padding: 10px;
    margin-bottom: -25%;

}

.formulario input{
   width: 100%;
   padding: 10px;
}

.formulario textarea{
    max-width: 100%;
    width: 255px;
    min-width: 255px;
    padding: 10px;
}

.formulario button{
    width: 100%;
    padding: 10px;
}

@media (width <= 1000px){
    #s1{
        margin-top: 100px;
    }
    #s2{
        margin-top: 100px;
    }
}